a {
    color: var(--bs-gray);
    text-decoration: auto;
}


.content-container {
    width: 100%;
    display: flex;
}


.sidebar {
    width: 25%;
    border-right: black;
    border-width: 1px;
    border-style: groove;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.info {
    display: flex;
    justify-content: space-between;
    height: 40px;
}