{% extends 'base.html' %}

{% block content %}
{% if queryset %}
<div class="detail-post-container">
    <div class="top">
        <a href="{% url 'profile' queryset.user.id%}">@{{queryset.user}}</a>
        {{ queryset.data_created }}
    </div>
    <div class="middle">
        {{ queryset.title}}
        {{queryset.content | safe}}
    </div>
    <div class="bottom">
        <div class="action">
        </div>

    </div>
</div>
{% endif %}

{% if reaction %}
<div class="reaction-container">
    {% for r in reaction %}
    <div class="head-reaction">
        {{r.user}}
    </div>
    <div class="content-reaction">
        {{ r.text }}
    </div>
    <div class="action-reaction">
        {% if r.validate %}
        принятый отклик
        {% else %}
        <form action="{% url 'validate' r.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Принять</button>
        </form>
        {% endif %}
        <form action="{% url 'reaction-delete' r.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>

    </div>

    {% endfor %}
</div>
{% endif %}

{% endblock %}


{% block sidebar %}


<form action="{% url 'filter'%}" method="get">
    {% for p in post %}
    <div class="list-title">
        <p style="padding:3px; margin-left:3px">Посты</p>
        <ul class="list-group">
            <li class="list-group-item">
                <input type="radio" name="title" id="title" value="{{p.title}}">
                <label for="title">{{p.title}}</label>
            </li>
        </ul>
    </div>
    {% endfor %}
    <button type="submit">Найти</button>
</form>


{% endblock %}