{% extends 'base.html'%}

{% block content %}
<div class="detail-post-container">
    {{single.content | safe}}
    <a href="{% url 'update' single.pk %}"> Редактировать</a>
</div>

<div class="reaction">
    <form action="{% url 'reaction' %}" method="post">
        {% csrf_token%}
        <input type="text" hidden="hidden" name="user" value="{{request.user}}">
        <input type="text" hidden="hidden" name="post_id" value="{{single.id}}">
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

{% for reaction in reactions %}
<div class="comment-block">
    <div class="item-user">
        {{ reaction.user }}
    </div>
    <div class="item-text">
        {{reaction.text}}
    </div>
</div>
{% endfor %}

{% endblock %}