{% extends 'base.html'%}

{% block content %}

{% for p in post %}
<div class="detail-post-container">
    <div class="top">
        <a href="{% url 'profile' p.user.id%}">@{{p.user}}</a>
        {{ p.data_created }}
    </div>
    <div class="middle">
        {{ p.title}}
        {{p.content | safe}}
    </div>
    <div class="bottom">
        <div class="action">
            <a href="{% url 'detail' p.id%}">
                <button class="btn btn-primary">Перейти</button></a>
        </div>

    </div>
</div>
{% endfor %}
{% endblock %}

{% block sidebar %}
<a href="{% url 'create-post' %}">Создать пост</a>

{% endblock %}